body {
    margin: 0;
    background-color: rgb(222, 222, 222);
    font-family: Arial;
}


.nav-bar {
    background-color: rgb(14, 36, 51);
    color: white;
    position: absolute;
    top: 0;
    width: 300px;
    height: 100vh;

}

.top-bar {
    background-color: rgb(255, 255, 255);
    display: flex;
    justify-content: space-between;
    position: absolute;
    top: 0;
    left: 300px;
    right: 0;


}

.id {
    display: flex;
    padding-right: 12px;


}

.search-div {
    display: flex;
    align-items: center;
}

.page-main {
    position: relative;

}

.logo {
    width: 68px;
    padding: 0;
}

.heading {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 12px;
    margin-bottom: 12px;
    padding-left: 12px;
    padding-right: 24px;
}

.heading-1 {
    display: flex;
    align-items: center;
    padding-left: 12px;
}

.heading:hover {
    background-color: rgb(77, 76, 76);
}

img {
    width: 20px;
}

.bb {
    display: flex;
    align-items: center;
}

.bb p {
    padding-left: 12px;
}

.inbox-pack {
    border-top: 1px solid rgb(176, 176, 176);
    border-bottom: 1px solid rgb(176, 176, 176);
}

.search-div {
    padding-left: 30px;

}

.search-bar {
    height: 35px;
    width: 400px;
    border-radius: 10px;
    border: none;
    padding-left: 12px;
    background-color: rgb(222, 222, 222);
    ;
}

.search-bar:focus {
    outline: none;
}

.project-name {

    padding: 12px;

}

.project-name:hover {
    background-color: rgb(77, 76, 76);


}

.add {
    display: flex;
    justify-content: space-between;
    padding-right: 20px;
    padding-top: 8px;
    padding-bottom: 8px;
}

.user-settings {
    display: flex;
    justify-content: space-between;
    position: absolute;
    bottom: 12px;
    width: 100%;
    padding-top: 25px;
    padding-bottom: 15px;

    border-top: 1px solid rgb(176, 176, 176);


}

.user-settings .one {
    display: flex;
    /* padding-left: 12px;
    padding-right: 12px; */
    align-items: center;

}

.onne {
    width: 60px;
}

.user-name {
    padding-left: 12px;
}

.title {
    margin-left: 16px;
}

.h1 {
    /* background-color: pink; */

}

.Main-content {
    position: absolute;
    left: 350px;
    top: 50px;

    display: flex;
    flex-direction: column;
    width: calc(100% - 400px);
}

.sub-top {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.add-new-button,
.save {
    padding: 14px;
    font-size: 16x;
    background-color: rgb(11, 130, 199);
    color: white;
    border: none;
    border-radius: 8px;
    font-weight: 600;

}

.task-card {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 16px;
    padding-right: 16px;
    background-color: rgb(255, 255, 255);
    height: 100px;
    border: 2px solid transparent;
    border-radius: 10px;
    box-shadow: 0 0 1px rgba(0, 0, 0, 0.4);
    margin-bottom: 12px;
}

.task-card:active {
    border: 2px solid rgba(61, 139, 235, 0.8);
    background-color: rgba(61, 139, 235, 0.09);

}




.task-status {
    display: flex;
    padding-left: 32px;

    width: 300px;
}

.number {
    padding-left: 12px;
    padding-right: 12px;
    font-weight: 600;
}

.task-title {
    padding-bottom: 10px;
    font-weight: 700;
}

.number {
    padding-bottom: 10px;

}

.dues {
    display: flex;
    width: 150px;
    justify-content: space-between;
    align-items: center;

}

.fff {
    display: flex;
    align-items: center;
}


.to-do {
    background-color: rgb(176, 230, 255);
    padding: 5px;
    font-size: 12px;
    font-weight: 400;
    border-radius: 3px;
}

.In-Progress {
    background-color: rgb(253, 209, 126);
    padding: 5px;
    font-size: 12px;
    font-weight: 400;
    border-radius: 3px;
    margin-left: 12px;
    margin-right: 12px;
}

.Done {
    background-color: rgb(128, 239, 128);
    padding: 5px;
    font-size: 12px;
    font-weight: 400;
    border-radius: 3px;
}

.Severity.High {
    /* padding-right: 14px; */
    background-color: rgba(255, 164, 164, 0.7);
    padding-left: 6px;
    padding-right: 6px;
    padding-top: 3px;
    padding-bottom: 3px;

    font-size: 14px;
    border-radius: 3px;
}

.Severity.Medium {
    background-color: rgba(129, 201, 47, 0.7);
    padding-left: 6px;
    padding-right: 6px;
    padding-top: 3px;
    padding-bottom: 3px;

    font-size: 14px;
    border-radius: 3px;

}

.Severity.Low {
    background-color: rgba(36, 233, 255, 0.7);
    padding-left: 6px;
    padding-right: 6px;
    padding-top: 3px;
    padding-bottom: 3px;

    font-size: 14px;
    border-radius: 3px;


}
.Severity.Undefined {
    background-color: rgba(114, 114, 114, 0.7);
    padding-left: 6px;
    padding-right: 6px;
    padding-top: 3px;
    padding-bottom: 3px;

    font-size: 14px;
    border-radius: 3px;


}

.background-popup {
    position: absolute;
    background-color: rgba(127, 125, 125, 0.5);
    /* z-index: 1; */
    height: 100vh;
    width: 100%;


}

.popup {
    background-color: rgb(255, 255, 255);

    color: white;
    position: relative;
    padding-top: 20px;
    padding: 12px;
    border-radius: 10px;



}

.center {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;

}

.popup p {
    margin: 0;
    padding-top: 12px;
    padding-bottom: 4px;
    color: black;
    font-weight: 700;
}

.textarea,
.textarea1 {
    width: 500px;
    background-color: rgb(200, 199, 199);
    border: none;
    border-radius: 5px;


}

.textarea:focus,
.textarea1:focus {
    outline: none;
}

.textarea1 {
    height: 100px;
}

.cross {
    color: black;

    position: absolute;
    right: 5px;
    top: 1px;
    font-size: 30px;
    cursor: pointer;
}

select {
    background-color: rgb(200, 199, 199);
    border: none;
    padding: 6px;
    border-radius: 5px;
}

select:focus {
    outline: none;

}

option {
    background-color: white;
}

option:hover {
    outline: none;

}

.last-box {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.save {
    position: absolute;
    right: 10px;
    bottom: 10px;
}